<h1>Editing Book</h1>

<%= render 'form', book: @book %>

<% @books.each do |book| %>
  <tr>
    <td><%= book.author %></td>
    <td><%= book.group %></td>
  </tr>
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
