<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @book.avatar.url(:large), class: "img-show" if @book.avatar? %>   
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<%= link_to 'Back', books_path %>
